body {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.section--separated {
  border-bottom: 1px solid #afafaf;
}

.section--header:before {
  content: "-";
  display: inline-block;
  padding: 0 0.25em 0 0;
  width: 1em;
}

.section--header:hover {
  cursor: pointer;
}

.section--header:hover:before {
  color: #f00;
}

.section--collapsed :not(h2) {
  display: none;
}

.section--collapsed .section--header:before {
  content: "+";
}

.section--collapsed .section--header:hover:before {
  color: #0f0;
}


.p--tight {
  margin-top: 0;
  padding-top: 0;
  position: relative;
  top: -1.15em;
}

.ul--tight {
  margin-top: 0;
  padding-top: 0;
}

.action {
  font-weight: bold;
}

.header__nav {
  visibility: hidden;
  opacity: 0;
  height: 0;
}
.hamburger--active .header__nav {
  visibility: visible;
  opacity: 1;
  height: auto;
  transition: height 1s, opacity 1s;
}
.header.hamburger--active {
  background-color: #cb0032;
  color: #fff;
  transition: background-color 0.3s;
}

.header__title {
  display: inline-block;
  vertical-align: top;
  font-size: 22px;
}

.header__menu {
  list-style-type: none;
  padding: 0 0 0 1em;
  margin: 0.5em 0 1.5em 0;
}

.header__link {
  text-decoration: none;
  color: inherit;
}

.header__link:hover {
  text-decoration: underline;
}

.hero {
  position: relative;
  padding-bottom: 36%;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

/** Hamburger Start **/
.hamburger {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0 10px 0 0;
  padding: 0;
  width: 64px;
  height: 56px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.hamburger:focus {
  outline: none;
}

.hamburger span {
  display: block;
  position: absolute;
  top: 47%;
  left: 16.66666%;
  right: 16.66666%;
  height: 6%;
  background: white;
}

.hamburger span::before,
.hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  content: "";
}

.hamburger span::before {
  top: -450%;
}

.hamburger span::after {
  bottom: -450%;
}

.hamburger__htx {
  background-color: #ff3264;
}

.hamburger__htx span {
  transition: background 0 0.3s;
}

.hamburger__htx span::before,
.hamburger__htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0;
}

.hamburger__htx span::before {
  transition-property: top, transform;
}

.hamburger__htx span::after {
  transition-property: bottom, transform;
}

/* hamburger--active state, i.e. menu open */
.hamburger__htx.hamburger--active {
  background-color: #cb0032;
}

.hamburger__htx.hamburger--active span {
  background: none;
}

.hamburger__htx.hamburger--active span::before {
  top: 0;
  transform: rotate(45deg);
}

.hamburger__htx.hamburger--active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.hamburger__htx.hamburger--active span::before,
.hamburger__htx.hamburger--active span::after {
  transition-delay: 0, 0.3s;
}
/** Hamburger End **/

/** Social Links Start **/
.presence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 520px;
  margin: 0 auto;
}

.presence__link {
  -ms-flex: 4;
  -webkit-box-flex: 4;
  flex: 4;
  font-size: 52px;
  text-align: center;
}

.presence__link--facebook {
  color: #3b5998;
}

.presence__link--instagram {
  color: #517fa4;
}

.presence__link--flickr {
  color: #ff0084;
}

.presence__link--twitter {
  color: #00aced;
}
.presence__link--calendar {
  color: #5202BA;
}
/** Social Links End **/

/** Directors Start **/
.directors {
  list-style-type: none;
  padding: 0;
}

.director__icon {
  width: 90%;
  max-width: 320px;
  margin: 0 auto;
  padding-bottom: 0.5em;
}

.director__avatar {
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
}

.director__avatar--aaron {
  background-image: url("http://lambdabasketball.com/wp-content/uploads/2010/09/224736_1071213739804_1799_n-300x232.jpg");
}

.director__avatar--drew {
  background-image: url("http://lambdabasketball.com/wp-content/themes/starkers-html5/style/images/drew.jpg");
}

.director__avatar--jason {
  background-image: url("http://lambdabasketball.com/wp-content/themes/starkers-html5/style/images/jason.jpg");
}

.director__avatar--garsten {
  background-image: url("http://lambdabasketball.com/wp-content/uploads/2010/09/ResizedLambda-300x192.jpg");
}

.director__avatar--brian {
  background-image: url("http://lambdabasketball.com/wp-content/themes/starkers-html5/style/images/brian.jpg");
}
/** Directors End **/

/** IG Start **/
#instafeed img {
  max-width: 150px;
  width: 25%;
}

#instafeed a:nth-child(n+9) {
  display: none;
}
/** IG End **/

.footer__small {
  display: block;
}
